<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ooops - An error occurred</title>
</head>

<body>
    <h1>Ooops - An error occurred</h1>
    <p>We are just developers so if you think this is a bug please report it.</p>
    <p>Thanks</p>
</body>

</html>
