{% extends '@App/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row valign-wrapper">
            <div class="col s6">
                <h2>Schule</h2>
            </div>
            <div class="col s6 valign right-align">
                <a href="{{ path('admin.school.edit', {id: school.id}) }}" class="btn waves-effect waves-light">Bearbeiten</a>
                &nbsp;
                <a href="{{ path('admin.school.index') }}" class="btn waves-effect waves-light blue">Übersicht</a>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <table>
                    <tr>
                        <th>Name:</th>
                        <td>{{ school.name }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
